{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/superized.css' %}">
</head>
<body>
<div class="page-container">
    <h1>Login</h1>
    {% csrf_token %}
    <form action="/login/" method="post">
        <input type="text" name="username" class="username" placeholder="用户名">
        <input type="password" name="password" class="password" placeholder="密码">
        <button type="submit">登陆</button>
        <div class="error"><span>{{ err_msg }}</span></div>
    </form>
</div>
<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script>
<script src="{% static 'js/supersized-init.js' %}"></script>
<script src="{% static 'js/scripts.js' %} "></script>

</body>
</html>